body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 2fr 20fr 1fr;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

header {
  background-color: lightblue;
  grid-column: 1 / 3;
  display: flex;
  /* padding-left: 1rem; */
}

nav {
  background-color: lightcyan;
  /* padding-left: 1rem; */
}

#main-nav,
#list,
#projects-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav > li:hover,
#add-project:hover,
#add-project-button:hover {
  background-color: lightgray;
}

#project-name-container {
  display: flex;
  gap: 0.5rem;
}

#project-name {
  width: 80px;
}

#projects-list,
#add-project {
  padding-left: 1rem;
}

#projects-list > li {
  display: flex;
}

main > ul > li {
  display: flex;
}

main {
  background-color: lightgoldenrodyellow;
}

footer {
  background-color: lightgrey;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
