body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 2fr 20fr 1fr;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

header {
  background-color: lightblue;
  grid-column: 1 / 3;
  display: flex;
  /* padding-left: 1rem; */
}

nav {
  background-color: lightcyan;
  /* padding-left: 1rem; */
}

nav > ul,
main > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li:hover {
  width: fit-content;
  background-color: lightgray;
}

main > ul > li {
  display: flex;
}

main {
  background-color: lightgoldenrodyellow;
}

footer {
  background-color: lightgrey;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
